@import "tailwindcss";
@theme {
  --color-brand-blue: #3B82F6;   /* blue-500 */
  --color-brand-green: #22C55E;  /* green-500 */
}

.sp-cm, .cm-scroller {
  overflow: auto !important;
  min-height: 0 !important;
  max-height: 100% !important;
  height: 100% !important;
}